.colStyle {
  border-color: white;
  padding: 0px 1px;
  padding-bottom: 0px;
}

.tileStyle {
  padding: 0;
  margin: 0;
  border: 1px solid darkslategray;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  font-weight: bold;
}

.open {
  background-color: darkgray !important;
}

.closed {
  background-color: lightgray !important;
}